<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../component/search-track.html">
<link rel="import" href="../component/item-list.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/mercury-paginator/mercury-paginator.html">

<dom-module id="search-page">
	<style include="iron-flex">
		.font-fam{
		    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		    color:#292b2c;
		}
		.no-decor{
			text-decoration: none !important;
		}
		.tampilan-hasil{
			width: 150px;
			height: 1000px;
			margin-left: 30px;
			text-align: left;
		}
		.category{
			font-weight: 500;
			margin-left: 10px;
		}
		.product{
			margin-left: 50px;
			margin: 30px;
			width: 250px;
		}
		.center{
			text-align: center;
		}
		.max-img{
			max-width: 200px;
			min-height: 200px;
		}
		.price-tag{
		    font-size:15px;
		    top:-.5em;
		    line-height: 0;
		    position: relative;
		    vertical-align: baseline;
		    margin-right: 3px;
		}

		.price-number{
		    font-size:20px;
		    font-weight: bold;
		}
		.product-name{
		    font-size: 20px;
		    color: #82888a;
		}
		.paginator-style{
		    margin-top: -35px;
		    margin-left: 750px;
		    height: 27px;
		}
	</style>
	<template>
		<div class="font-fam">
			<item-list></item-list>
			<div class="layout horizontal" style="margin-left:0px">
				<search-track></search-track>
				<mercury-paginator perpage="2"
						on-click="handleClick"
		                id="page"
		                show-first="true"
		                show-last="true"
		                class="paginator-style">
			</div>
			<div class="layout horizontal">
				<div class="tampilan-hasil">
					<div><h4 style="text-align:left">Tampilkan hasil untuk: </h4></div>
					<div class="category">{{category}} ({{totalData}})</div>
				</div>
				<div>
		            </mercury-paginator>
					<template is="dom-repeat" items="[[chunkedData]]" as="chunked" id="myId">
						<div class="layout horizontal">
							<template is="dom-repeat" items="[[chunked]]" as="produk">
					            <div class="product">
									<a class="no-decor" href="#/produk/{{produk.id}}">
										<div class="center" style="height:200px">
											<img src={{handleUrlName(produk.image)}} class="max-img"/>
										</div>
										<div class="center" style="color:#82888a">
											<span class="price-tag">Rp</span>
											<span class="price-number">{{produk.price}}</span>
										</div>
										<div class="center">
											<div class="product-name">
												{{produk.name}}
											</div>
										</div>
									</a>
								</div>
					        </template>
						</div>
					</template>
				</div>
			</div>
		</div>
		<iron-ajax
	        id="requestProductData"
	        url="/assets/json/dekoruma.json"
	        params='{"type":"all"}'
	        handle-as="json"
	        on-response="handleResponse">
	    </iron-ajax>
	</template>
</dom-module>

<script>
	Polymer({
		is: "search-page",
		properties: {
            data: {
                type: Array
            },
            chunkedData:{
            	type: Array
            },
            totalData:{
            	type: Number
            },
            usedData:{
            	type:Array
            }
        },
        ready: function () {
            this.$.requestProductData.generateRequest();
        },
        handleClick: function() {
        	var temp=[];
        	var tempData=[];
        	for (var i = 0;i<this.usedData[this.$.page.currentpage].length;i++){
            	temp.push(this.usedData[this.$.page.currentpage][i])
            	if (i == this.usedData[this.$.page.currentpage].length-1){
            		tempData.push(temp);
            	}
            	if (this.usedData[this.$.page.currentpage][i].id%4 == 0){
            		tempData.push(temp);
            		temp=[];
            	}
            }
            this.chunkedData=tempData;

            this.$.myId.render();
        },

        handleResponse: function (data) {
        	var tempData=[];
        	this.usedData=[];
            this.data = data.detail.response;
            var temp = [];
            var categoryData=[];
            for (var i = 0;i<this.data.produk.length;i++){
            	if(this.data.produk[i].category==this.category){
            		categoryData.push(this.data.produk[i]);
            	}
            }

            this.totalData=categoryData.length;

            var idx=0;

            while (idx<this.totalData){
            	this.usedData.push(categoryData.slice(idx,idx+=this.$.page.perpage));
            }

            console.log('used',this.usedData)

            for (var i = 0;i<this.usedData[this.$.page.currentpage].length;i++){
            	temp.push(this.usedData[this.$.page.currentpage][i])
            	if (i == this.usedData[this.$.page.currentpage].length-1){
            		tempData.push(temp);
            	}
            	if (this.usedData[this.$.page.currentpage][i].id%4 == 0){
            		tempData.push(temp);
            		temp=[];
            	}
            }
            this.chunkedData=tempData;

            var model = {
	            items: []
	        };

            for (var i = 1; i <= categoryData.length; i++) {
	            model.items.push(categoryData[i]);
	        }
	        this.$.page.data = model.items;
	        console.log(this.$.page.pageCount)
            this.$.myId.render()
        },
        handleUrlName: function (url){
        	return "../assets/image/"+url;
        },
        addIterator: function(){
        	this.iterator++;
        },
        arrayify: function(obj) { return Object.keys(obj).map(function(k) { return obj[k]; }) }
	});
</script>